sudo: required
services:
- docker
script:
- bash test.sh
notifications:
  email:
    on_success: never
    on_failure: always
env:
  global:
  - secure: wFP24dDr44PmS/jUZA/HtzkRx9MNXs3dTAqtz+aebNrit5ievVYzedzCFk6JAqcIf3ZTiYoNWGNRAxd/Q6/3HqsL9q/pumbpfDEjPxPq+AffW/YdwZZaEn2gE5KR5eabRmZi9VWDds4xSClrejB9z5xC3ZFqtgDgzz5FMOLrWFHzuUPXZ2aQnKOp3NhnlI7ykO9cRQG0tHym21iRibPC4CUTE2IqsgNRhPJZFZY0g6mJ5wIYh4KDQU37I+ODV7OQao/N3j0MHaCcze5MtZjM/Yt27rvpOqxmjDTJbcwk9AeDRyawmnHN9OZbx9MIRUuFIDmAJp73XsmRpW8r3NcfckJNl3LyH3te9/3AwRlKIj3pzIHFO4LFnL/ArGvrMv9kEuTQjQ/fEceRVKH5ZO6CMvP8yvN/YVBVm2h12V43yfJap/GGBeQR7KGvsKxA1LmA5OlQHMeViPkZcVTUB6bk10iPo9A6uXyQZHyNrGooSYmlAjdDS59x3UIhvYIsrEvKBG+lO3O4f7j1SeQjY7RxuQ9hwRJ8m/hzDbxL6nU0rIjrdRGLfiDedqSiRJaD0GiX0u5z0DXaV40tHkWAjvabEcLbeCqOOWpOPxdxAQLMywLJqtU0YdNK3fLnSS4SBzO1IJb8esctnvxg+JKBrbQz1A2wBe0Nov0u6b4WSQE+n6U=
  - secure: dgfjCTYPuIFOlOzGQj/qCowLLBnN6fxozBZQ3d2zhKtbFenqtbYBsMHxBAtuECVBRoKI0XRpxtZ9YeWkppxfXsT4QKxO57gt172yQORlYehfFJqzGVuaWUgS25WtJ0WJseMCUnIYSBS7nuC6tPl/1kPJ0gC2++ddlwuRgG0M1+RftjGKzBffKwrbG3s8PRr4/UZnGO9Heg9jGR1XPtMEBdCX+Zj7/JPY81m+6/82kTDe6YuU5ep1JbeW7OVm/JLqcnLpM1srGDbEBz1fCSH40FDx6CzQpjyzT3n/JhaxI65/SkrtRa9Yeu8a3+Ye16MtIAIQln5loXUDVlRmZ2a0NYL98vCZxfqpUkutciN0ND9T30pkfAmDbJgUT4tiEYcFv/kANtL36A6U7fcKUhszQ4fDoQYj1c3F+9XKblRKs41HQmeseFdZh/Wq6VhLEr7VWeU9xwVDbz1JmEWlTv4zRQZDu8doWJQ55wo6mJ8/DT7xUUe8/7ZDpYcDarKVQuC74B8OoEetRd/nERC2SJbGx8CPtZGouJFaxCSn2gFi/ePowK1AK2x5PzYADD4Jx4Cib9mhvyMWM58nNRiuAY4HmUf8rihqGfUxGuBKJaP2yIsgyicRqlIYibSkpKbYW4vfJZOWcYTfevhhjuPVws4mtVEknHP8A3nb7jlUHMjRuJk=
  - secure: JjJUEkibwq4Qy0N6YpSmsehuBnEC6UWdLt4i+V28CiEsSsXcG741AncD+zuCxY80WK9HRQEyb7XwuF4Cx15uPhXmHD48BLpvuBJ5TDKpqw3LdlykPbxCpfbvNlGYzmn1bzuhCutT4ZOJmw+9kBik9auWnAO4GOe3ouGSr771ouiJhaTBUtyRtymuV8Fc/10gn7VyT9+bLN7wQ5bBWzRUIupudBAcQkfKIHLkfxYLBOldVACNFn+FaoZ3NKRUUf3X2FKuaXdoGm9bxqXrApuppGVlpTih7thd0lZjp6q038aHVj3u4NmNpZD0tMWL7ajKuEF8yaLhWFiWNBqErSqJ+3twOAe7VDGyQ6goEi2Q8GUeYtlW+Aydz9pCLIgv1hLN7UfCyH87wUtv9+ZNEQmEgiuQgz2rHbGzznScWddvK4mC4EJ6UQWEtmxmNZfcj+Kfep5vAvu65ICJruczmmOJbk8iwhE1hsOkcm0mkN9d3FewvUEkfUvAWs6wa8oE+lUMTB7QNt/EuwHj/TW8TsKh6pPQu3D7F2DTPhSayXuw9/VzfqwxUpWEA13o2zBulB6tzKVAAwliRtyfYRfQ2e0J+b2HKK7iEefy9FN0oX2Wp7qzK4WMyn6Jo1oEL84Btx6MuUeAMjB7oH4S0zt3gIjvrmpMcB2Fqbnf5XnUvT6lKJA=
  - secure: G83yHp947VvYhB7Fiv/VyH0pjj8ntwrjEwatZJa5LvSOYud1LBjBl4nYIG/wwH5F8aM6MxATxxCxNz6QMTsXIS9iGJ7A/B3JifLPMZueqBlvy37/hVPYKpn+74lPBfJMqG54jpdigJMXfCOK7KwZWG/oXxcxsFZ+byojtVnvg4GnsnlfBVcArQqphWwaY51GuaWEOXWBQoJlq4yguHXo8bXVcEOBWAPrBBcg/k0Y888XSaRBsCYeQMna6TuwAaqdrCrEiFkSlNTPEaTMGwS6AW+a+rwia9qLTXWeO3e8fHv1xlAY50WHn0Cndq+biQ8TUxdjNOTW4I9aDZCREHN3iqb355GUK/I1j8DX3sCYrJ99THQaWN1HF0HpODd7R6uGhg+Fbo9YctiJ7wFtIpY5iQQt5BeEu0Qqk7JFNSUpmdDhwUux3b+j4JVBYte1Te2P8C98TXFswYEh+UgaIe1jDG1fb/Znxt32fWzwgswMaJsnHud+oKbDtoWL5X3y4CqOXdo71XfFnxIgBhXanxblcWmiDGzbEA8U23ibiO3A/7gZm/ss4G4d6/STzfSrkJpa+PZMA2hUeJo8B3Vdhbbwh/SSqI2xjPUV0uKgFT4uToe2uBXRmRN0n4rdCrENdu0XDv6NQOnEB1IkgY/2evQyKPAlxRl3zHQD5LcZ3BAFbMs=
addons:
  apt:
    packages:
    - sshpass
after_success:
- mkdir build
- mv backend_go blockchain/src blockchain/Cargo.toml e2e_test frontend/public frontend/src
  frontend/package.json build
- mv docker*.yml build
- mv test.sh build
- cd build
- mkdir blockchain
- mv src Cargo.toml blockchain
- mkdir frontend
- mv package.json public src frontend
- cd ..
- tar -czf gin_tonic.tgz build
- export SSHPASS=$DEPLOY_PASS
- sshpass -e scp -o stricthostkeychecking=no gin_tonic.tgz $DEPLOY_USER@$DEPLOY_HOST:$DEPLOY_PATH
- sshpass -e ssh -o stricthostkeychecking=no $DEPLOY_USER@$DEPLOY_HOST $DEPLOY_PATH/deploy.sh
