sudo: required

services:
  - docker

script:
  - bash test.sh

notifications:
  email:
    on_success: never
    on_failure: always

env:
  global::
    - secure: "pOtmG+v9uuRWVatLrKbOJhaanC1pfsePRg84nVp+h+U/CnNptGXaAcFPRhZz4Fi60MYkbKxohBEW5ILcI4Z9TIAt71Jz7Z1FnBPumJhsbvNaJi4tj2QhYI2s83jhZIrHhF+KSFr8n+RNPaRoKBDzkKbUUzKSGToIp26seAVmUZUg5QWynMkCQYXdYLHxzvTVQYQfVclg7PLkmn2C+9PRr9qePzyA4u5EeNgxHKi1xPLL5wQn+7glfxdqvM03oazYNtL8NKofIh40c5nJBw8o8DryjXQPOlMljJgy97cnHYN7lay9yNHsmjX9ZMcGywxGARdbNBfDI1xlbufGs1lA3HR0Mdafv+zNrpvHdMX11IkJwO5Zea+xuzGJCkukESaOOy+oRG49H0dLUb72OHU885TGj9TAH0yPgsVW93FiIuNThWJusRFIt97AmKNLoC3Xh9s0mrRO/eDFQP1EPlc5FLL9T9AmQd0m2yKqxUCWfz9h5VBV1xkkg2MjO3EdazhQ5AlbvsPO0JRjIYGfSofSf9oL7vh19Fr1+auiwN2npdNifQcXqVHaRn0bYvJ3yma++4cHbkeuPQ2nRAsN39/2lfMd6qgZrHGvq7HszaVw230AZtSS7OzL6vCpRuEbtQP9KfxqxgUqHQTF0gSIlWjVgN9A0s6yLdRmh5kMatRH21o="
    - secure: "ECQVyHFOW+bN2WqbKvE7pwb0fGk5ARL0Kb63K3e2N4Xo094bGQPp9nwch0NISfLIOiyfkgmQ5ZNo1ftrgpm5GkfLRkSBZNXeu7HPYBrH9fv5McdTRZqMlgpI7fPZxz0Mt0/aVIZMiZdCHTgNiipcnBaxSCIuhuwBypvNT/orHVbEqDKVeBTQARbv02HcVFXI27/xhqDZgY69BqGcuSf6ik5QzB91b9KvzAAs83K2io216X5Bi0ft2fFeBN+liVew2keG0DsIbU9oSrinQBiym5kVoydVcApGoMsbeW3oTbEMQh4wt31uFcVowDmloGAMR2XhmHjF9G3BHEkPsvJuGgOBhvtq7cfSV4ietJS8SHVW6rhghUs+TPebN3rEdas+/dUU3KE1VRwfLMGQMtDhlawFsRvhaadQbFO8Nn6886gkCnIjR7eBwWFbSpDlLLNqha+7t4N2ojyCcq4OQQ2DusNv3yF3z6yJ2/H7H2WwQY1NDC7kCFzBaZBIWiq+qGAoFYwm1gZqzXYKAtl9Oe0MYP1m6lGj4AsBCu+C3f55DL29AFOPTMyGH+1/mn2DUvgyMKTJAioopbTdcClhYT7jlrY6TRlzmLy5Vol55H6CZtWGeU3E5pB9A/l8vPYw7b7r9HEB+acUzf5OJm3U+/13tQ1A0cq8s1qBfZcpi+umcAo="
    - secure: "XiI3qVIOyBX9MaFMLNTAmKj3wWWz+U5h6b9JOy59isqfG89E9LViHKSd8yBCvuZ/oc3TmFgPTF2/WLbFLhtdc7tRbaszhSsDmxOVqGkzm+qCZMUuo2YS/SFTDW0n6a5x9dHjpihOEbqJU22TiT3pCAFuf+L/9nubbhFWiGWZCYMrWxG1RckBlkfCanUwlalJeG/ZzzrsiBhvkea1isl3huCYzQIsNQemqGZSk/vIGAbKr+bLivsDgoc/HCE43viPICvW/3xV2ON5Rc4iwuh19nglvWKmX8ayuaSElycIqFK1313b0Pq98/nS35ga4wYs74Xgf5/yYVvgu9P5rWm8xJLhtTmax3cMVEQNaFWrJ59ipV9ed0OQlg/ElcnFv8jsZdB0UQMEdLmrK+H8bwlU5XzSw51XzLotLEe0sclwWMsT6M/DTHGQVcpFyEb/EiC04XEK67RyOr32Su5imfXd3yxOt23IGWuqd673AI6oY8AI12KPDOpcmgFdxU1TeTmuP770wnnI7D/7lEGRq+41R7DPiWLou8/A3tzMn1bn7BsAAnGf5NG9qBfrZmNPZU1dSWVHKg2Dj9l0K9zrIvy6srrs08FvkLmI4NHSR9wOvaZrXKtXnEsbFhLNVvSVlrIa/nOFJ1wDZLmomgMABHC3z9qLFECOTBDC7Q8JDMFRKO8="
    - secure: "OijdVLE/HyT5UHNTIaf51DgU3vD4++Agv+kqARpraCV8v/5B9zB8gwoi+8iUN1ZcNITp8Ilqoj64APl1nExjahaG2YCk86dvl9CH5b75gHQsBnjb2avBNZqQbakotKSMRB1CZZgUb/S3iKs8w502nD5eTSXqahuZ13C5fUnSunpY0Emah/007LjVmJP3Yu1ZorRzKKFaP4YHg10YW+ImtnT0oPTO7Zi0luFSU1y0HOEpP9QAcC1XdlGpbcbJUnovaJ0oqTl30+LblTPTS2/zQHMIQWU/y6Hk5eLqdFAaxeHeDwqXJMXEYuYnxo7iouM1CV5eHM+bIZPOFpJtnVZiCxPGiQA98Itz6jI6lRFV/lqqQ9eqZLCGpL9bvD63ily4SmxYlVs+xfMCfdtmYP5Y7KgYsnqlSvjqwOT8scrCPycDESEn6+z4On5nulv2h9HIxhg9qe8rf+HnoPc3MAVFjUiMWRmqnd0W9i3GRVXkHGHoHwiVcxqIqS5dNM/udqe0OLfJExy+udpUVuFrZDgcCTdJbktBZJy21N4cQi+dlDtUP3y+RGTTNim+i7N7y1cdU16RE1tdsv48BoN7YLop7OFtnN4cqmOL3NUBVjo6g6gjYDdQs62qZJOsUXPL+QhZUUqqityCGtyuzDfslC/Io0SQtwJ54j98mXSa8SUSSLI="

addons:
    apt:
        packages:
            - sshpass

after_success:
    - mkdir build
    - mv backend_go blockchain/src blockchain/Cargo.toml e2e_test frontend/public frontend/src frontend/package.json build
    - mv docker*.yml build
    - mv test.sh build
    - tar -czf gin_tonic.tgz build
    - export SSHPASS=$DEPLOY_PASS
    - sshpass -e scp gin_tonic.tgz $DEPLOY_USER@$DEPLOY_HOST:$DEPLOY_PATH
    - sshpass -e ssh $DEPLOY_USER@$DEPLOY_HOST 'bash -s /home/deploy.sh'