.modal-title{
    width: 100%;
    text-align: center;
}

tr > th:nth-child(1){
    color: var(--main-color-orange);
}

.switch-indicator {
    width: 20px;
    height: 20px;
    border-radius: 500px;
    background-color: green;
}

.indicator-green {
    background-color: green !important;
}

.indicator-red {
    background-color: red !important;
}

.status-panel td div{
    display: inline-block;
}
.status-panel td div:first-child{
    margin-right: 10px;
}


